include README.rst
include LICENSE
include requirements.txt
include pycore/bin/*.dll
include pycore/py.typed

prune .github
prune docs
prune examples
prune tests
exclude pycore/bin/COPYING
exclude .flake8
exclude .gitignore
exclude .pre-commit-config.yaml
exclude .prettierrc
exclude .readthedocs.yml
exclude CHANGELOG.md
exclude FUNDING.yml
exclude requirements-dev.txt
